{{#extends 'base'}}

{{#block 'content'}}

<form method="POST">
    <div class="alert alert-danger">
        Are you sure you want to delete {{foodRecord.foodName}} note below?
        <div>
            {{note.content}}
        </div>
        <input type="submit" class="btn btn-danger" value="Confirm"/>
        <a href="/food/{{foodRecord._id}}" class="btn btn-success">Cancel</a>
    </div>
</form>


{{/block}}

{{/extends}}