{{#extends 'base'}}

{{!-- override the "content" and "page-title" in the base --}}
{{#block "content"}}
<h1>Durian Love: Best Durians in Singapore and JB</h1>
{{/block}}

{{#block "page-title"}}
Durian Love
{{/block}}

{{/extends}}